[gcode_macro START_PRINT]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Load Mesh Bed Level
    BED_MESH_PROFILE load=default
    M117 Heating...
    M140 S{BED_TEMP}           ; set bed final temp
    M104 S{EXTRUDER_TEMP}      ; set extruder final temp
    M190 S{BED_TEMP}           ; wait for bed final temp
    M109 S{EXTRUDER_TEMP}      ; wait for extruder final temp
    G28 ; home all axes
    G21 ; set units to millimeters
    G90 ; use absolute coordinates
    G1 Z20 F3000                   ; move nozzle away from bed
    M117 Priming
    G1 Y6.0 X6 Z0.3 F3000
    G1 X60.0 E9.0 F600
    G1 X100.0 E9.0 F600
    G1 Z5 F3000
    G92 E0
    M117 Printing

# ---------------------------- End Print -----------------------------

[gcode_macro END_PRINT]
gcode:
    M104 S0 ;extruder heater off
    M140 S0 ;heated bed heater off (if you have it)
    G91 ;relative positioning
    G10; retract
    G28 X0 Y0 ;move X/Y to min endstops, so the head is out of the way
    G1 Y200 F5000 ;move completed part out
    MOTORS_OFF
    G90 ;absolute positioning
    M117 Print finished.

######################################################################
# load / unload filament
######################################################################

[gcode_macro load_filament]
gcode:
  {% set TEMP = params.TEMP|default(200)|float %}
  G90
  M109 S{TEMP}   #set hotend temperature and wait
  M83            #relative positioning on extruder    
  G0 E160 F400   #prime extruder
  G92 E0
  UPDATE_DELAYED_GCODE ID=notify_extruder_load DURATION=10

#    Macro to Unload Filament
[gcode_macro unload_filament]
gcode:
  {% set TEMP=params.TEMP|default(200)|float %}
  M109 S{TEMP}   #set hotend temperature and wait    
  M83            #relative positioning on extruder
  G0 E15 F400    #extrude filament to get better blob on end
  G0 E-130 F1000 #retract additional filament to move out of melt zone
  G92 E0
  UPDATE_DELAYED_GCODE ID=notify_extruder_reload DURATION=10


# ------------------------- Motors Off -------------------------------

[gcode_macro MOTORS_OFF]
gcode:
    M84 X Y E ; disable motors

# ------------------------- Bed Mesh Calibrate -----------------------

[gcode_macro G29]
gcode:
    BED_MESH_PROFILE load=default

[gcode_macro CALIBRATE_AND_SAVE_BED_MESH]
gcode:
    G28
    M117 Heating bed
    G1 X130 Y130 F6000
    M140 S40
    M190 S40
    M117 Mesh Calibration
    BED_MESH_CALIBRATE
    G0 X0 Y0 Z10 F6000
    BED_MESH_PROFILE
    SAVE_CONFIG
